<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="{8DC451E8-D7B0-4282-8936-AC11C98D858C}" Name="Electra MAC Printing" Language="1033" Version="1.0.0.0" Manufacturer="Magma Group" UpgradeCode="2ecc16f2-e69e-48eb-af88-a3e82b120eb4">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="Electra MAC Printing" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WixShellExecTarget" Value="[#Electra MAC Printing]" />
    <CustomAction Id="LaunchApplication" BinaryKey="WixCA" DllEntry="WixShellExec" Impersonate="yes" />
    <UI>
      <Publish Dialog="ExitDialog" Control="Finish" Event="DoAction" Value="LaunchApplication"></Publish>
      <!--WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed-->
    </UI>
    <!--Set the Icon for the Add/Remove Programs-->
    <Icon Id="ReportsIcon.exe" SourceFile="..\Electra MAC Printing\images\ElectroMAC.ico" />
    <Property Id="ARPPRODUCTICON" Value="ReportsIcon.exe" />

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Electra MAC Printing">
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <!-- <Component Id="ProductComponent"> -->
      <!-- TODO: Insert files, registry keys, and other resources here. -->
      <!-- </Component> -->
    </ComponentGroup>
  </Fragment>
</Wix>
