<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>

    <sectionGroup name="Application"></sectionGroup>

    <sectionGroup name="Settings">
      <section name="LogSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="DataBase" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="GetSetGeneralSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="UserRoleSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="OtherSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="uGrid_Users_HeaderCaption" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="uGrid_LogBookDetails_HeaderCaption" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>

    <sectionGroup name="SerialPortSettings">
      <section name="SettingBaudRate" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="SettingDataBits" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>

    <sectionGroup name="LanguageSupport">
      <section name="LanguageCodes" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="LanguageDirection" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>

    <sectionGroup name="Messages">
      <section name="ID_0" type="System.Configuration.NameValueSectionHandler, System" />
    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="ElectraMACPrintingDB" connectionString="data source=.\SQLEXPRESS;Initial Catalog=ElectraMACPrinting;User ID=Electra;Password=ms@ms7ms7" providerName="System.Data.SqlClient" /> 
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <Settings>
    <DataBase>
      <add key="DefaultDatabase" value="ElectraMACPrintingDB" />
    </DataBase>
    <LogSettings>
      <add key="LogFilePath" value="C:\Support\Logs\ElectraMACPrinting\" />
      <add key="LogFileName" value="ElectraMACPrinting_Log" />
      <add key="LogFileExtension" value="txt" />
    </LogSettings>
    <GetSetGeneralSettings>
      <add key="StationName" value="PrintingStation 1" />
      <add key="UnitSettings" value="COM3,115200,Even,8,One" />
      <add key="ModbusSlaveAddress" value="2" />
      <add key="SerialNumberAddress" value="0x00" />
      <add key="MACAddress" value="0x10" />
      <add key="STA_IP_Address" value="0x4138" />
      <add key="IPAddressRegEx" value="^10\.0\.0\.([1-9]|[1-9][0-9]|[01][0-9][0-9]|2[0-4][0-9]|25[0-5])$" />
      <add key="APName" value="ELR_AP_TEST_" />
      <add key="APPassword" value="12345678" />
      <add key="TimeOut" value="100" />
      <add key="PrinterName" value="ZDesigner GX430t" />
      <add key="ZPL" value="^XA~JSN^FO0,0^A0N,17,19^FV{0}^FS^FO67,2^A0N,17,19^FV{1}^FS^FO130,112^A0N,29,30^FV{3}^FS^FO125,84^A0N,29,30^FV{2}^FS^BY4,,0^FO0,48^BQ,2,4,,7^FH_^FVMA,SERIAL:{0}MAC:{1}^FS^PQ1,0,0,N^MCN^XZ" />
      <!-- GX430t Printer ZPL
      ^XA~JSN^FO0,0^A0N,17,19^FV{0}^FS^FO67,2^A0N,17,19^FV{1}^FS^FO130,112^A0N,29,30^FV{3}^FS^FO125,84^A0N,29,30^FV{2}^FS^BY4,,0^FO0,48^BQ,2,4,,7^FH_^FVMA,SERIAL:{0}MAC:{1}^FS^PQ1,0,0,N^MCN^XZ
      -->

      <!-- S4M Printer ZPL
      ^XA^MCY^XZ^XA~JSN^PW192^SZ2^MMT^MTT^LT0^MD0^MNY~TA000^PR4^PON^PMN^CI0^LRN^FO104,55^A0N,20,20^FV{3}^FS^FO98,35^A0N,20,20^FV{2}^FS^BY3,,0^FO10,14^BQ,2,3,,7^FVMA,SERIAL:{0}MAC:{1}^FS^PQ1,0,0,N^MCN^XZ
      -->

      <!-- SAMPLE ZPL for tests (tested on GX430t printer)
      ^XA~JSN^FO0,0^A0N,17,19^FVE078F23F0B57B^FS^FO67,2^A0N,17,19^FVE078F23F0B57B^FS^FO130,112^A0N,29,30
      ^FVF0B57B^FS^FO125,84^A0N,29,30^FVE078F23^FS^BY4,,0
      ^FO0,48^BQ,2,4,,7^FH_^FVMA,SERIAL:12345678901MAC:E078F23F0B57B
      ^FS^PQ1,0,0,N^MCN^XZ
      -->
      
      <!-- SAMPLE ZPL for tests (tested on S4M printer)
      ^XA^MCY^XZ^XA~JSN^PW192^SZ2^MMT^MTT^LT0^MD0^MNY~TA000^PR4^PON^PMN^CI0^LRN
      ^FO104,55^A0N,20,20^FVF0B57B^FS
      ^FO98,35^A0N,20,20^FVE078F23^FS
      ^BY3,,0^FO10,14^BQ,2,3,,7^FVMA,SERIAL:12345678901MAC:E078F23F0B57B^FS
      ^PQ1,0,0,N^MCN^XZ
      -->
    </GetSetGeneralSettings>
    <uGrid_LogBookDetails_HeaderCaption>
      <add key="datMarkingDate" value="Marking Time" />
      <add key="vchMachine" value="Station" />
      <add key="intUserID" value="User ID" />
      <add key="vchWorkOrder" value="Serial Number" />
      <add key="intPartNumber" value="MAC Address" />
    </uGrid_LogBookDetails_HeaderCaption>
    <uGrid_Users_HeaderCaption>
      <add key="intUserID" value="User ID" />
      <add key="intRoleID" value="User Type" />
      <add key="vchRFID" value="RFID" />
    </uGrid_Users_HeaderCaption>

    <UserRoleSettings>
      <add key="adminRights" value="1,2" />
      <add key="userRights" value="3" />
    </UserRoleSettings>
    <OtherSettings>
      <!--The timer values must be in millisconds-->
      <add key="FrmAppWizardActiveTabKey" value="login" />
      <add key="ToolBarSettingsVisiable" value="false" />
    </OtherSettings>

  </Settings>

  <SerialPortSettings>
    <SettingBaudRate>
      <add key="1200" value="1200" />
      <add key="2400" value="2400" />
      <add key="4800" value="4800" />
      <add key="9600" value="9600" />
      <add key="19200" value="19200" />
      <add key="38400" value="38400" />
      <add key="57600" value="57600" />
      <add key="115200" value="115200" />
    </SettingBaudRate>
    <SettingDataBits>
      <add key="7" value="7" />
      <add key="8" value="8" />
      <add key="9" value="9" />
    </SettingDataBits>
  </SerialPortSettings>


  <LanguageSupport>
    <LanguageCodes>
      <add key="Default" value="he" />
    </LanguageCodes>
    <LanguageDirection>
      <!--LTR : 0 ,RTL : 1 -->
      <add key="Default" value="1" />
    </LanguageDirection>
  </LanguageSupport>

  <Messages>
    <ID_0>
      <add key="MessageTitle" value="Settings" />
      <add key="MessageType" value="64" />
      <add key="MessageText" value="Successfully Saved" />
    </ID_0>
  </Messages>

</configuration>