<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>


    <sectionGroup name="Application"></sectionGroup>

    <sectionGroup name="Settings">
      <section name="LogSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="DataBase" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="GetSetGeneralSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="uGrid_LogBookDetails_HeaderCaption" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="uGrid_Users_HeaderCaption" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="uGrid_PartNumbers" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="uGrid_ParameterstoPartNumbers" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="uGrid_Parameters" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="uGrid_StartBatch" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="UserRoleSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="OtherSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />

    </sectionGroup>
    <sectionGroup name="GridWorkDetailsColumns">
      <section name="ColumnNameDetailsHeader" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ColumnNameDetails" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>


    <sectionGroup name="MachineSettings">
      <section name="ChannelType" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="ChannelSettings" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="MachineType" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="MachineDetails" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>


    <sectionGroup name="LanguageSupport">
      <section name="LanguageCodes" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <section name="LanguageDirection" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      <!--<section name="DefaultLanguage_EN" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
      <!--<section name="OtherLanguage" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
      <section name="LanguageCaptions" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </sectionGroup>

    <sectionGroup name="Messages">
      <section name="ID_0" type="System.Configuration.NameValueSectionHandler, System" />
      <section name="ID_1" type="System.Configuration.NameValueSectionHandler, System" />
      <section name="ID_2" type="System.Configuration.NameValueSectionHandler, System" />
      <section name="ID_3" type="System.Configuration.NameValueSectionHandler, System" />
      <section name="ID_4" type="System.Configuration.NameValueSectionHandler, System" />
      <section name="ID_5" type="System.Configuration.NameValueSectionHandler, System" />
      <section name="ID_6" type="System.Configuration.NameValueSectionHandler, System" />
      <section name="ID_7" type="System.Configuration.NameValueSectionHandler, System" />

    </sectionGroup>
  </configSections>

  <connectionStrings>
    <add name="AradRofinLaserDB" connectionString="data source=.\SQLEXPRESS;Initial Catalog=AradRofinLaser;User ID=sa;Password=eureka" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <Settings>
    <DataBase>
      <add key="DefaultDatabase" value="AradRofinLaserDB" />
    </DataBase>
    <LogSettings>
      <add key="LogFilePath" value="C:\Support\Logs\RofinLaserMarking\" />
      <add key="LogFileName" value="RofinLaserMarking_Log" />
      <add key="LogFileExtension" value="txt" />
    </LogSettings>
    <GetSetGeneralSettings>
      <add key="MarkingProgramImagePath" value="C:\Support\Images\" />
      <add key="MarkingProgramImageExtn" value=".png" />
      <add key="SavedDataMatrixImagesPath" value="C:\Support\Images\" />
      <add key="SavedDataMatrixImagesPathExtn" value=".png" />
      <add key="MachineNumber" value="Machine_2" />
      <add key="LaserSoftwareIP" value="192.168.0.1" />
      <add key="LaserSoftwarePort" value="808" />

      <add Key="StationName" value="PrintingStation 1" />
      <add Key="UnitSettings" value="COM1,9600,None,8,One" />
      <add Key="ModbusSlaveAddress" value="2" />
      <add Key="SerialNumberAddress" value="0x0000" />
      <add Key="DataAddress" value="0x0010" />
      <add Key="PrinterSettings" value="COM10,19200,None,8,One" />
    </GetSetGeneralSettings>


    <uGrid_LogBookDetails_HeaderCaption>
      <add key="datMarkingDate" value="Marking Date" />
      <add key="vchMachine" value="Machine Name" />
      <add key="intUserID" value="User ID" />
      <add key="vchWorkOrder" value="Worker Order" />
      <add key="intPartNumber" value="P/N" />
      <add key="vchPartNumberDescription" value="Description" />
      <add key="vchVLMName" value="Marking Part" />
    </uGrid_LogBookDetails_HeaderCaption>
    <uGrid_Users_HeaderCaption>
      <add key="intUserID" value="User ID" />
      <add key="intRoleID" value="User Type" />
      <add key="vchRFID" value="RFID" />
    </uGrid_Users_HeaderCaption>

    <uGrid_PartNumbers>
      <add key="intPartNumber" value="PNR" />
      <add key="vchPartNumberDescription" value="Description" />
      <add key="vchTopVLM" value="Top VLM" />
      <add key="vchBottomVLM" value="Bottom VLM" />
      <add key="vchLeftVLM" value="Left VLM" />
      <add key="vchRightVLM" value="Right VLM" />
    </uGrid_PartNumbers>

    <uGrid_ParameterstoPartNumbers>
      <add key="intPartNumber" value="P/N" />
      <add key="intParameterID" value="Parameter" />
    </uGrid_ParameterstoPartNumbers>


    <uGrid_Parameters>
      <add key="intParameterID" value="Parameter ID" />
      <add key="vchLaserParameterCode" value="Parameter Code" />
      <add key="vchParameterName" value="Parameter Name" />
      <add key="intParameterLength" value="Length" />
    </uGrid_Parameters>

    <uGrid_StartBatch>
      <add key="intParameterID" value="Parameter ID" />
      <add key="intParameterLength" value="Length" />
      <add key="vchLaserParameterCode" value="Parameter Code" />
      <add key="vchParameterName" value="Variable Name" />
      <add key="BarcodeValue" value="Barcode value" />

    </uGrid_StartBatch>


    <UserRoleSettings>
      <add key="adminRights" value="1,2" />
      <add key="userRights" value="3" />
    </UserRoleSettings>
    <OtherSettings>
      <!--The timer values must be in millisconds-->
      <add key="FrmAppWizardActiveTabKey" value="login" />
      <add key="ToolBarSettingsVisiable" value="false" />
    </OtherSettings>


  </Settings>
  <GridWorkDetailsColumns>
    <ColumnNameDetailsHeader>
      <add key="strProperty" value="Property" />
      <add key="strValue" value="Value" />
    </ColumnNameDetailsHeader>
    <ColumnNameDetails>
      <add key="intPartNumber" value="Part Number" />
      <add key="vchPartNumberDescription" value="Part Description" />
      <add key="vchTopVLM" value="VLM Name" />

    </ColumnNameDetails>
  </GridWorkDetailsColumns>




  <MachineSettings>
    <ChannelType>
      <!-- SerialPort = 1-->
      <!-- Ethernet = 2-->
      <!-- Bluetooth = 3-->
      <add key="1" value="SerialPort" />
      <add key="2" value="Ethernet" />
    </ChannelType>
    <ChannelSettings>
      <add key="1" value="192.168.2.145,2049,TCP,1000" />
    </ChannelSettings>
    <MachineType>
      <add key="1" value="VMC2" />
    </MachineType>
    <MachineDetails>
      <add key="ChannelType" value="2" />
      <add key="ChannelSettings" value="1" />
      <add key="MachineType" value="1"/>
    </MachineDetails>
  </MachineSettings>










  <LanguageSupport>
    <LanguageCodes>
      <add key="Default" value="en" />
      <add key="Other" value="he" />
    </LanguageCodes>
    <LanguageDirection>
      <!--LTR : 0 ,RTL : 1 -->
      <add key="Default" value="0" />
      <add key="Other" value="1" />
    </LanguageDirection>
    <LanguageCaptions>
      <add key="barcodeerrormessage" value="Barcode length is not match" />
    </LanguageCaptions>

  </LanguageSupport>


  <Messages>
    <ID_0>
      <add key="MessageTitle" value="Invalied Column" />
      <add key="MessageType" value="16" />
      <add key="MessageText" value="Invalied Data" />
    </ID_0>
    <ID_1>
      <add key="MessageTitle" value="Success" />
      <add key="MessageType" value="64" />
      <add key="MessageText" value="Excel File Export Successfully" />
    </ID_1>

    <ID_2>
      <add key="MessageTitle" value="Main Screen-New Batch" />
      <add key="MessageType" value="16" />
      <add key="MessageText" value="There is no Matching record for the Work Order and Priority Operation" />
    </ID_2>

    <ID_3>
      <add key="MessageTitle" value="Main Screen-New Batch" />
      <add key="MessageType" value="16" />
      <add key="MessageText" value="The Marking Programs Image is Missing in the Path" />
    </ID_3>
    <ID_4>
      <add key="MessageTitle" value="Software Settings-General" />
      <add key="MessageType" value="16" />
      <add key="MessageText" value="Please Enter the Machine Number" />
    </ID_4>
    <ID_5>
      <add key="MessageTitle" value="Software Settings-General" />
      <add key="MessageType" value="16" />
      <add key="MessageText" value="Please Enter OPC Server Prog ID" />
    </ID_5>
    <ID_6>
      <add key="MessageTitle" value="Software Settings-General" />
      <add key="MessageType" value="16" />
      <add key="MessageText" value="Please Enter Z Release After Marking" />
    </ID_6>
    <ID_7>
      <add key="MessageTitle" value="Settings" />
      <add key="MessageType" value="64" />
      <add key="MessageText" value="Successfully Saved" />
    </ID_7>
  </Messages>
</configuration>